body {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px 0px 15px;
    line-height: 150%;
    text-indent: 25px;
}

main {
    margin: 1.2%;
    padding: 1.2%;
    padding-top: 80px;
}

header {
    background-color: #f28d01;
    color: black;
    font-size: 12pt;
    margin: -20px 0px 0px -30px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 110%;
    z-index: 3;
}

footer {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
    font-style: italic;
    position: relative;
    right: 0;
    left: -20px;
    bottom: 0;
    width: 100%;
    margin-bottom: -20px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    top: -20px;
    font-size: 18px;
    margin-left: 45px;
    padding: 10px;
}

a:hover {
    color: rgb(75, 75, 75);
    background-color:rgb(145, 250, 206);
    font-weight: bold;
    transition: 0.3s;
    border-radius: 18px;
}

menu{
    background: #f28d01;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    position: relative;
    margin: -20px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

